  <div class="page-cover">
        <div class="cover-bg bg-img" data-image-src="images/bg-default1.jpg"></div>
        <div id="container" class="video-container d-none d-sm-block">
            <video autoplay="autoplay" loop="loop" muted="muted" width="640" height="360">
                <source src="~/videos/technology.mp4" type="video/mp4">
            </video>
        </div>
        <div class="cover-bg-mask bg-color" data-bgcolor="rgba(17, 77, 189, 0.4)"></div>
    </div>
    <main class="page-main page-fullpage main-anim" id="mainpage">
        <div class="section section-home fullscreen-md fp-auto-height-responsive main-home"
             data-section="home">
            <div class="section-wrapper">
                <div class="section-content anim">
                    <div class="row">
                        <div class="col-12 text-left">

                            <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo mt-40">
                                <!-- slider -->
                                <div class="slider-container swiper-container">
                                    <ul class="item-list swiper-wrapper">
                                        <!-- item -->
                                        <li class="slide-item swiper-slide">
                                            <div class="item-wrapper">
                                                <div class="illustr">
                                                    <img src="~/images/items/img-sample2-small.jpg" alt="Image" class="img">
                                                </div>
                                                <a class="legend" href="#home">
                                                    <h3 class="display-3">News 1</h3>
                                                    <h4>News description</h4>
                                                </a>
                                            </div>
                                        </li>
                                        <!-- item -->
                                        <li class="slide-item swiper-slide">
                                            <div class="item-wrapper">
                                                <div class="illustr">
                                                    <img src="~/images/items/img-sample3-small.jpg" alt="Image" class="img">
                                                </div>
                                                <a class="legend" href="#home">
                                                    <h3 class="display-3">News 1</h3>
                                                    <h4>News description</h4>
                                                </a>
                                            </div>
                                        </li>
                                        <!-- item -->
                                        <li class="slide-item swiper-slide">
                                            <div class="item-wrapper">
                                                <div class="illustr">
                                                    <img src="~/images/items/img-sample4-small.jpg" alt="Image" class="img">
                                                </div>
                                                <a class="legend" href="#home">
                                                    <h3 class="display-3">News 1</h3>
                                                    <h4>News description</h4>
                                                </a>
                                            </div>
                                        </li>
                                        <!-- item -->
                                        <li class="slide-item swiper-slide">
                                            <div class="item-wrapper">
                                                <div class="illustr">
                                                    <img src="~/images/items/img-sample5-small.jpg" alt="Image" class="img">
                                                </div>
                                                <a class="legend" href="#home">
                                                    <h3 class="display-3">News 1</h3>
                                                    <h4>News description</h4>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- pagination -->
                                <div class="items-pagination bar"></div>

                                <!-- navigation -->
                                <div class="items-button bottom fit items-button-prev">
                                    <a class="btn btn-transp-arrow btn-primary icon-left" href="#">
                                        <span class="icon arrow-left"></span>
                                        <span class="text">Пред</span>
                                    </a>
                                </div>
                                <div class="items-button bottom fit items-button-next">
                                    <a class="btn btn-transp-arrow btn-primary" href="#">
                                        <span class="icon arrow-right"></span>
                                        <span class="text">След</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!--  <footer class="section-footer scrolldown">
                   <a class="down">
                     <span class="icon"></span>
                     <span class="txt">Прокрутить вниз</span>
                   </a>
                 </footer>-->
            </div>
        </div>

        <div class="section section-description fp-auto-height-responsive no-slide-arrows" data-section="about">
            <div class="slide" id="information" data-anchor="information">
                <div class="section-wrapper center-vh dir-col anim">
                    <div class="section-title">
                        <h5 class="title-bg">О НАС</h5>
                        <h2 class="display-4 display-title anim-2">Мы вам поможем</h2>
                    </div>

                    <div class="section-content reduced anim text-left">
                        <div class="title-desc anim-3">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                                malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum
                                tincidunt non. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis
                                dui. Fusce in urna sem.
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-12">
                                <!-- content -->
                                <div class="section-content anim text-left">
                                    <!-- title and description -->
                                    <div class="title-desc">
                                        <div class="anim-2">
                                            <h2 class="display-4 display-title">Контакт</h2>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                                                malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum
                                                tincidunt non. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis
                                                dui. Fusce in urna sem.
                                            </p>
                                        </div>
                                        <div class="address-container anim-3">

                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-6">
                                                    <h4>Контакт</h4>
                                                    <p>Тел: (+994 12) 000 00 00</p>
                                                    <p>Email: support@service-desk.az</p>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-6">
                                                    <h4>Адрес</h4>
                                                    <p>
                                                        00 Филанкесов Филанкес ул.
                                                        <br>Баку, Азербайджан
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btns-action anim-4">
                                        <a class="btn btn-outline-white btn-round" href="#about/message">
                                            <span class="txt">Отправить сообщение</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div class="slide" id="message" data-anchor="message">
                <div class="section-wrapper">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-6 center-vh">
                            <div class="section-content anim text-left">
                                <div class="title-desc">
                                    <div>
                                        <h5>Обслуживание клиентов</h5>
                                        <h2 class="display-4 display-title">Напишите нам</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                                            malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum
                                            tincidunt non. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis
                                            dui. Fusce in urna sem.
                                        </p>
                                    </div>
                                </div>

                                <div class="btns-action">
                                    <a class="btn btn-outline-white btn-round" href="#about/information">
                                        <span class="txt">О НАС</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-5">
                            <div class="section-content anim text-left">
                                <div class="">
                                    <div class="form-container form-container-card">
                                        <form class="send_message_form message form" method="post" action="#"
                                              id="message_form">
                                            <div class="form-group name">
                                                <label for="mes-name">Имя :</label>
                                                <input id="mes-name" name="name" type="text" placeholder="" class="form-control-line form-success-clean"
                                                       required>
                                            </div>
                                            <div class="form-group email">
                                                <label for="mes-email">Email :</label>
                                                <input id="mes-email" type="email" placeholder="" name="email" class="form-control-line form-success-clean"
                                                       required>
                                            </div>
                                            <div class="form-group no-border">
                                                <label for="mes-text">Сообщение</label>
                                                <textarea id="mes-text" placeholder="..." name="message" class="form-control form-control-outline thick form-success-clean"
                                                          required></textarea>

                                                <div>
                                                    <p class="message-ok invisible form-text-feedback form-success-visible">Your message has been sent, thank you.</p>
                                                </div>
                                            </div>

                                            <div class="btns">
                                                <button id="submit-message" class="btn btn-normal btn-white btn-round btn-full email_b"
                                                        name="submit_message">
                                                    <span class="txt">Send</span>
                                                    <span class="arrow-icon"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-list-feature fp-auto-height-responsive " data-section="services">
            <div class="section-wrapper twoside anim">
                <div class="section-title">
                    <h5 class="title-bg">УСЛУГИ</h5>
                    <h2 class="display-4 display-title title-bg">УСЛУГИ</h2>
                    <p class="anim-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                        malesuada feugiat.
                    </p>
                </div>

                <div class="item row justify-content-between fade-1">
                    <!-- begin of column content -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- content -->
                        <div class="section-content">


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-list-feature fp-auto-height-responsive " data-section="support">
            <div class="section-wrapper twoside anim">
                <div class="section-title">
                    <h2 class="display-4 display-title title-bg">ПОДДЕРЖКА</h2>
                    <p class="anim-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                        malesuada feugiat.
                    </p>
                </div>

                <div class="item row justify-content-between fade-1">
                    <!-- begin of column content -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- content -->
                        <div class="section-content">

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="section-content">


                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="section section-list-feature fp-auto-height-responsive " data-section="faq">
            <div class="section-wrapper twoside anim">
                <div class="section-title">
                    <h5 class="title-bg">F.A.Q</h5>
                    <h2 class="display-4 display-title anim-2">F.A.Q</h2>
                    <p class="anim-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                        malesuada feugiat.
                    </p>
                </div>

                <div class="item row justify-content-between fade-1">
                    <!-- begin of column content -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- content -->
                        <div class="section-content">


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-list-feature fp-auto-height-responsive " data-section="partners">
            <div class="section-wrapper twoside anim">
                <div class="section-title">
                    <h5 class="title-bg">ПАРТНЕРЫ</h5>
                    <h2 class="display-4 display-title anim-2">ПАРТНЕРЫ</h2>
                    <p class="anim-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                        malesuada feugiat.
                    </p>
                </div>

                <div class="item row justify-content-between fade-1">
                    <!-- begin of column content -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- content -->
                        <div class="section-content">


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-list-feature fp-auto-height-responsive " data-section="license">
            <div class="section-wrapper twoside anim">
                <div class="section-title">
                    <h5 class="title-bg">ЛИЦЕНЗИИ</h5>
                    <h2 class="display-4 display-title anim-2">ЛИЦЕНЗИИ</h2>
                    <p class="anim-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
                        malesuada feugiat.
                    </p>
                </div>

                <div class="item row justify-content-between fade-1">
                    <!-- begin of column content -->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- content -->
                        <div class="section-content">


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
            <div class="section section-pricelist " data-section="pricelist">
              <div class="section-wrapper center-vh dir-col anim">
                <div class="section-title text-center">
                  <h5 class="title-bg">Цены</h5>
                  <h2 class="display-4 display-title anim-2">Цены</h2>
                </div>

                <div class="section-content anim text-center fullwidth">
                  <div class="price-table">
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <div class="price-item price-item-secondary shadow mb-4 sr-up-td4">
                          <h4 class="item-name">Lite</h4>
                          <div class="item-price">Free</div>
                          <ul class="item-features text-left">
                            <li class="ok">
                              <i class="icon fa fa-star"></i>Full Components</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Future Updates</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Documentation</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Customer Support</li>
                            <li class="diseabled">
                              <i class="icon fa fa-remove"></i>Cool Option</li>
                          </ul>
                          <div class="item-footer">
                            <a class="btn btn-secondary btn-round" href="#services">
                              Download
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="price-item featured price-item-primary shadow mb-4 sr-up-td2">
                          <h4 class="item-name">Standard</h4>
                          <div class="item-price">$24</div>
                          <ul class="item-features text-left">
                            <li class="ok">
                              <i class="icon fa fa-star"></i>Full Components</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Future Updates</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Documentation</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Customer Support</li>
                            <li class="diseabled">
                              <i class="icon fa fa-remove"></i>Cool Option</li>
                          </ul>
                          <div class="item-footer">
                            <a class="btn btn-primary btn-round" href="#services">
                              Purchase
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-4">
                        <div class="price-item price-item-primary shadow sr-up-td3">
                          <h4 class="item-name">Ultimate</h4>
                          <div class="item-price">$39</div>
                          <ul class="item-features text-left">
                            <li class="ok">
                              <i class="icon fa fa-star"></i>Full Components</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Future Updates</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Documentation</li>
                            <li class="ok">
                              <i class="icon fa fa-check"></i>Customer Support</li>
                            <li class="diseabled">
                              <i class="icon fa fa-remove"></i>Cool Option</li>
                          </ul>
                          <div class="item-footer">
                            <a class="btn btn-primary btn-round" href="#services">
                              Subscribe
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </div> -->
        <!-- <div class="section section-register fp-auto-height-responsive " data-section="register">
          <div class="section-wrapper">
            <div class="section-title text-center">
              <h5 class="title-bg">РЕГИСТРАЦИЯ</h5>
            </div>

            <div class="section-content anim text-center">

              <div class="row align-items-center justify-content-center">

                <div class="col-12 col-md-8 col-lg-6">
                  <form class="send_email_form form-container form-container-transparent form-container-white"
                  method="post" action="#">
                    <div class="form-desc">
                      <h2 class="display-4 display-title  anim-2">РЕГИСТРАЦИЯ</h2>
                    </div>
                    <div class="form-input  anim-4">
                      <div class="form-group form-success-gone">
                        <label for="reg-name">Имя</label>
                        <input id="reg-name" name="name" class="form-control-line form-control-white" type="text"
                        />
                      </div>
                      <div class="form-group form-success-gone">
                        <label for="reg-email">Email</label>
                        <input id="reg-email" name="email" class="form-control-line form-control-white" type="email"
                        required placeholder="your@email.address" data-validation-type="email"
                        />
                      </div>
                      <div class="form-group mb-0">
                        <div>
                          <p class="email-ok invisible form-text-feedback form-success-visible">Ваш электронный адрес зарегистрирован, спасибо.</p>
                        </div>
                        <button id="submit-email" class="btn btn-white btn-round btn-full form-success-gone"
                        name="submit_email">РЕГИСТРАЦИЯ</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </main>
    <footer id="site-footer" class="page-footer">
        <div class="footer-left">
            <p>
                @DateTime.Now.Year ©
                <a href="http://infatechnologies.az/">
                    <span class="marked">Infa Technologies</span>
                </a>
                - All Right Reserved
            </p>
        </div>

        <div class="footer-right">
            <ul class="social">
                <li>
                    <a href="#">
                        <i class="icon fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
   